body{
       background-color:#00CED1;
}
h1 {
  font-size: 50px;
color:	#FF00FF;
font-family: 'Courgette', cursive;
}
h2 {
  color: #9932CC;
}
h3 {
  color:#C71585;
}
h4 {
  color:#32CD32;
}

img.puppyimg {
  margin: 1px;
}
nav li {
 display: inline-block;
}

li {
 display: inline-block;
}
